@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;


}

header {
    height: 52px;
    background-color: #F2F3B1;
    margin: 20px 50px 10px 50px;
    padding: 0 28px;
    text-transform: uppercase;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 245px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: start;
    justify-items: stretch;
    grid-template-areas:
        "left logo right";
}

.logo {
    width: 242px;
    height: 142px;
    background-image: url(content/logo.jpg);
    background-position: center;
    background-size: cover;
    justify-self: center;
    grid-area: logo;
    border-radius: 50%;
}

.leftnav {
    justify-self: start;
    grid-area: left;
    display: flex;
    height: 52px;
    
}
.rightnav p,.leftnav p{
    margin: auto 15px auto 15px;

}
.rightnav {
    justify-self: end;
    grid-area: right;
    display: flex;
    height: 52px;

}

/*  */
.banner {
    height: 790px;
    background: linear-gradient(0deg, black, hsl(0, 0%, 100%, 0)),
        url(content/19.jpg) no-repeat center center / cover;
    display: flex;
    align-items: end;
    padding: 0 306px 60px 306px;
    text-align: center;
    color: white;
    margin-bottom: 64px;
}

/*  */

section h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-size: 20pt;
}

section .descrpt {
    text-align: center;
    margin-bottom: 35px;
    font-size: 14pt;
}

/* slider */
.actions {
    margin-bottom: 115px;
}

.elem {
    height: 280px;
    width: 1154px;
    background: #F0E1AB;
    margin-left: auto;
    margin-right: auto;

}

.elem-container {
    height: 280px;
    width: 1154px;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 60px 2fr;
    gap: 0px 50px;
    grid-auto-flow: row;
    grid-template-areas:
        "h3 h3"
        "photo info"
        "photo info";
    padding-bottom: 20px;
}

.name {
    grid-area: h3;
    text-align: center;
    padding-top: 14px;
}

.photo {
    grid-area: photo;
    padding-left: 20px;
}

.info {
    grid-area: info;
    font-size: 14px;
}

.elem {
    border: #D97575 solid 2px;
}

.more {
    width: 227px;
    height: 41px;
    border: none
}

.elem .image {
    width: 340px;
    height: 198px;
    background: url(content/21.jpg), lightgray 50% / cover no-repeat;
}

/*  */

.subscription {
    display: flex;
    justify-content: space-between;
    padding: 64px 64px;
}

.subform {
    width: 50%;
    height: 200px;
    background-color: #D97575;

    padding: 22px;
}

.subform input {
    height: 40px;
    width: 350px;
    margin-top: 17px;
    padding-left: 10px;
}

.subform p {
    font-size: 20pt;
    margin-top: 5px;
}

.subscription .img {
    width: 48%;
    height: 200px;
    float: right;
    background-color: blanchedalmond;
    background-image: url(content/14.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*  */
.algorythm {
    height: 690px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(content/26.jpg), lightgray 50%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    row-gap: 140px;
    /* padding: 0 100px; */
}

.algorythm h1 {
    margin-top: 33px;
    justify-self: flex-start;
}

.steps {
    display: flex;
    align-items: center;

}

.step {
    width: 260px;
    text-align: center;
}


.arrow {
    width: 84px;
    margin: 0 28px;

}

.step .circle {
    width: 210px;
    height: 210px;
    margin: 0 auto 10px auto;
    background-color: rgb(255, 255, 255);
}

/*  */
.locations {
    margin-top: 84px;
}

.searchform {
    width: 90%;
    height: 117px;
    background: #F0E1AB;
    ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
}

.searchform input[type="text"] {
    width: 300px;
    height: 33px;
    border: none;
}

.searchform input[type="date"] {
    width: 207px;
    height: 33px;
    border: none;
}

.searchform input[type="number"] {
    width: 80px;
    height: 33px;
    border: none;
}

.searchform input[type="submit"] {
    width: 120px;
    height: 70px;
    border: none;
    border-radius: 200px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

/*  */
.rewievs {
    margin-top: 60px;
    width: 1440px;
    /* height: 3557px; */
    margin: 60px auto 130px auto;

}

.rewiev-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rewiev {
    width: 561px;
    height: 209px;
    text-align: center;
    padding: 30px;
    background-color: aliceblue;
    margin: 12px;
    border-radius: 10px;
}

/*  */
footer {
    height: 162px;
    text-align: center;
    background: #C1C1C1;
    padding: 35px;
}

footer nav {
    margin-bottom: 47px;
}